@inherits LayoutComponentBase;
@using Blazored.Toast;

<BlazoredToasts></BlazoredToasts>
<NavMenu></NavMenu>
<AuthorizeView Roles="admin">
<Authorized>
<LaboEventFrontEnd.Pages.Admin.NavAdmin></LaboEventFrontEnd.Pages.Admin.NavAdmin>
    </Authorized>
</AuthorizeView>
<div class="page">

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
