@inherits LayoutComponentBase;
@using Blazored.Toast;

<BlazoredToasts></BlazoredToasts>
<NavMenu></NavMenu>

<div class="page">

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
